@media (min-width: 1250px) {
  :root {
    --basic-max-width-block: 55vw;
  }
  .header-text {
    margin-top: 13vw;
    margin-bottom: 2vw;
    width: 45vw;
  }
  .header-text > h1{
    margin-bottom: 10px;
    font-size: 3rem;
  }
}

@media (max-width: 1249px) {
  :root {
    --basic-max-width-block: 800px;
  }
  .header-text {
    margin-top: 10vh;
    width: 50vw;
  }
  #cards-of-big-projects {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card-of-big-project {
    width: 250px;
  }
  .card-of-big-project > img {
    height: 260px;
    width: 250px;
  }

  .container-with-cards {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  :root {
    --basic-max-width-block: 600px;
  }
  .header-text {
    margin-top: 5vh;
    width: 60vw;
  }
  .big-projects {
    height: 1100px;
  }
  .card-of-big-project {
    width: 250px;
  }
  .card-of-big-project > img {
    height: 260px;
    width: 250px;
  }
  .line {
    margin: 25px 0 10px 0;
  }
  .container-with-cards {
    justify-content: center;
    gap: 20px;
  }
  .smart-projects {
    gap: 10vw;
  }
}